.pink-button {
    background-color: lightblue;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pink-button:hover {
    background-color: rgb(14, 140, 244);
}

.blue-button {
    background-color: gold; 
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.blue-button:hover {
    background-color: goldenrod;
}
